$enable-shadows: true;
$primary: #29c572;//#73E2A7;
$light: #e7ffe4;
$dark: #394f4f;
$font-custom-base: Roboto;
$font-custom-headline: "Fira Sans";
$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$theme-colors: (
  primary: $primary,
  light: $light 
);
